
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 8px solid rgb(200, 200, 200);
  /* outline: solid 2px beige; */
  border-radius: 60px;
  margin: 30px;
  padding: 12px;
  height: 500px;
  width: 250px;
  

}

#header-image {
    width: 50px;
    position: absolute;
    /* top: 16px;
    z-index: 2; */
    padding-top: 600px;

}

.main-div {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(200, 200, 200);
    border-radius: 40px;
    margin: 1px;
    padding: 1px;
    background-image: './bg.png';
    background-image: url('assets/bg.png');
    height: 500px;
    width: 250px;
}

.main-div * {
  color: rgb(200, 200, 200);
  font-family: 'EB Garamond', serif;
}

h3 {
  font-family: 'Rock Salt', cursive;
    font-size: 22px;
    /* border: 2px solid red; */
    margin-top: 40px;
    margin-bottom: 0;
}

h5 {
  font-size: 12px;
  margin: 10px;
}

p {
    font-size: 11px;
    max-width: 600px; /*shrink this*/
    margin-bottom: 40px;
    padding-left: 18px;
    padding-right: 18px;
    min-height: 120px;
}

.moon-image {
  display: flex;
  flex-shrink: 1;
  max-width: 150px;
}